{% extends 'carwash/base.html' %}

{% block header %}{% endblock %}

{% block main %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="non-field-errors border border-danger text-danger rounded text-center px-2 py-1">
        {% for err in form.non_field_errors %}
        <p class="form-error m-0">{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for f in form %}
    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
    {{ f }}
    {% endfor %}
    <input type="submit" value="Войти" class="btn btn-primary" />
</form>
{% endblock %}