{% extends 'carwash/base.html' %}

{% block main %}
<main>
    <div class="container">
        <img src="{{ user.photo.url }}" alt="avatar" height="100" class="d-block rounded-circle mx-auto my-4 ">
        {% if user.is_client %}
        {% endif %}
        <table class="table">
            <tr>
                <td>Имя пользователя</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>{{ user.middle_name }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ user.phone_number }}</td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>{{ user.get_gender_display }}</td>
            </tr>
            <tr>
                <td>Автомобили</td>
                <td><a href="{% url 'car_list' %}" class="link">Список автомобилей</a></td>
            </tr>
        </table>
        <a href="{% url 'user_edit' %}" class="btn btn-primary ">Редактировать данные</a>
    </div>
</main>
{% endblock %}