django
pillow
psycopg2
django-debug-toolbar
# ckeditor
django-extensions
easy-thumbnails
django-crispy-forms
mssql-django
djangorestframework


связаться с нами
журнал по услугам
отчеты за период
фотки

чек СТО
if order.is_payed: payed_at = timezone.now()