{% extends 'carwash/base.html' %}
{% block main %}
<main>
    <section class="p-4">
        <div class="container">
            <h3>Наши преимущества</h3>
            <ul>
                <li>Во-первых, мы отвечаем за качество услуг. Все мастера является материально ответственным, именно
                    поэтому
                    каждый участник нашей команды заинтересован сделать максимально аккуратно и качественно свою работу.
                </li>
                <li>Во-вторых, мы используем только качественные материалы: детейлинг составы и пленки ведущих мировых
                    фирм
                    премиум уровня.</li>
                <li>В-третьих, мы даем гарантию на работу равную по срокам гарантии производителя пленки, от 1 года.
                </li>
                <li>В-четвертых, наша команда успешно занимается автовинилом уже год, и это гарантирует профессиональный
                    подход и неизменное выполнение работы на пределе возможностей.</li>
                <li>В-пятых, удобное расположение студии и лояльный режим работы.</li>
            </ul>
        </div>
        <div class="container">
            <h3>Наша команда</h3>
            <p>Если вы уже решили обновить стиль своего авто, защитить от повреждений с помощью оклейки машины или
                сделать качественный детейлинг, то несомненно предпочтете лучшую компанию- профессионалов своего дела.
            </p>
            <p>В нашей компании работают сертифицированные специалисты с многолетним опытом работы. Многие из них прошли
                обучение и участвуют в соревнованиях.</p>
            <p>Наш успех заключается в 100% слаженной работе команды, которая выполняет работы от подготовительной мойки
                и полировки кузова автомобиля до блестящей оклейки автомобиля виниловой пленкой.</p>
        </div>
        <strong class="d-block">Мы рады всем, кто хочет изменить облик своего авто, выделиться из потока и придать
            индивидуальности своему автомобилю!</strong>
        <strong class="d-block">Будьте на шаг впереди!</strong>
    </section>
</main>
{% endblock %}