{% extends 'carwash/base.html' %}

{% block main %}
<main class="container py-4">
    <h3>Мойка днища автомобиля</h3>
    <p>Каждый владелец транспортного средства хочет, чтобы его автомобиль прослужил подольше. Поэтому он регулярно проводит техническое обслуживание своего авто, обращается за помощью на автомойки или самостоятельно следит за состоянием и чистотой машины не только изнутри (в салоне), но и снаружи. Также в перечень этих работ входит и мойка днища авто. /p>
    <h3>Для чего необходима мойка днища автомобиля</h3>
    <p>Необходимость в мытье днища автомобиля крайне велика. Каждую зиму на дороги высыпается большое количество специального реагента, не только разъедающего снег или лёд, но и провоцирующего коррозию метала, из которого сделано автомобильное дно. В этом месте машины за зимний период налипает много грязи. Летом помыть автомобиль снизу также нужно, поскольку пыль содержит в себе вредные вещества, и её следует удалять. Если на это не обращать внимание, тогда выходят из строя дорогие детали кузова, их приходится ремонтировать. А это стоит недёшево. Для избежания лишних финансовых затрат рекомендуется хотя бы один раз в сезон мыть днище своего автомобиля. После мытья специалисты могут обнаружить возникшие неисправности или поломки, незамеченные раньше, и вовремя их устранить. </p>
    <p>Знаете ли вы? В Швеции дороги зимой посыпают специальной дорожной солью, смешанной с обыкновенным сахаром. Такая смесь долго лежит на дорогах и препятствует ржавчине дна автомобиля. </p>
    <h3>Как производится мойка днища</h3>
    <p>Помыть днище автомобиля можно несколькими способами: на подъёмнике, автоматической мойкой или вручную. Всё зависит от стоимости услуг и занятости водителя. Мойщик, осуществляющий такую процедуру, обязательно должен быть одет в защитный комбинезон, специальные очки и шлем. Потому что используемое химическое средство может серьёзно повредить кожу. </p>
    
</main>
{% endblock %}