{% extends 'carwash/base.html' %}

{% block main %}
<main class="container py-4">
    <h3>Технология бесконтактной автомойки</h3>
    <p>Бесконтактная автомойка – это технология удаления загрязнений с поверхности автомобиля с использованием специальных сильнодействующих моющих средств и мощных струй воды под высоким давлением. Моющие средства для бесконтактной автомойки содержат активные компоненты, способствующие отслоению частиц грязи на молекулярном уровне.</p>
    <p>Технология предусматривает начальную обработку кузова водой под высоким давлением и последующее нанесение активной пены (автомобиль остается в пене на 1-2 минуты). Последним этапом мойки струёй воды высокого давления смывают активную пену и остаточные загрязнения.</p>
    <h3>Как наносить раствор</h3>
    <p>Наносить активную пену можно как на сухую поверхность, так и на увлажненную (сбитую) поверхность автомобиля. Если кузов нагрелся на солнце, обязательно следует охладить его водой, чтобы предотвратить быстрое высыхание моющего раствора.</p>
    <p>Если кузов охладился на морозе, нужно сначала сбить лед и снег, а затем прогреть кузов струей воды, чтобы моющий раствор не замерз на поверхности.</p>
    <p>Если кузов сильно загрязнен, необходимо предварительно сбить верхний слой грязи струей воды под давлением.</p>
    <p>Следует помнить, что слой пены или эмульсии должен равномерно покрывать всю обрабатываемую поверхность во избежание недомытых участков.</p>
    <p>Для получения лучшего эффекта мы рекомендуем равномерно наносить пену или эмульсию плавными движениями в горизонтальной плоскости, двигаясь снизу вверх и обрабатывая поочередно каждую из сторон автомобиля (если начинать нанесение сверху вниз, то сползающая вниз грязная пена или стекающая вниз эмульсия могут помешать равномерному нанесению рабочего раствора и эффект от применения будет ниже).</p>
    <p>После нанесения моющего раствора необходимо дать ему поработать 1-2 мин., не допуская высыхания.</p>
    <h3>Как смывать раствор</h3>
    <p>Раствор смывается при помощи аппарата высокого давления. Рекомендуем начинать смыв с боковых поверхностей, а затем переходить на смыв крыши. При этом необходимо двигаться в горизонтальной плоскости на расстоянии 15-20 см от поверхности, перемещая плоскую широкую струю воды снизу вверх.</p>
    <p>После того как состав смыт с поверхности, автомобиль необходимо высушить специальной влаговпитывающей салфеткой, так как это позволит не только высушить автомобиль, но и исключить появления каких либо инородных проявлений связанных с качеством воды.</p>
    <h3>Пенокомплект</h3>
    <p>Пенокомплект - инжекторное устройство, позволяющее быстро наносить химическое средство в виде пенного раствора на внешние поверхности.</p>
    <h4>Пенокомплект состоит из следующих деталей:</h4>
    <ol>
        <li>Пистолет (1) с муфтой внешней.</li>
        <li>Инжекторная насадка с муфтой внутренней. Насадка включает:
            <ul>
                <li>инжекторный узел (2А, смешивает воду, воздух и шампунь);</li>
                <li>литровую бутылку для химии (2Б);</li>
                <li>регулировочный винт (2В, регулирует подачу воздуха);</li>
                <li>распылитель (2Г, меняет угол струи распыления);</li>
            </ul>
        </li>
        <li>Копье с муфтой внутренней и форсункой (3)</li>
    </ol>
</main>
{% endblock %}