{% extends 'carwash/base.html' %}
{% block main %}
<main class="d-flex flex-column justify-content-center py-5">

  <div class="container pb-3">
    <h1>Контакты</h1>
    <h3>Адрес и телефон автомойки</h3>
    <div>г. Москва, ул. Бакунинская, дом 81</div>
    <div>+7 (123) 456-78-90</div>
    <style>
      .links a {
        font-size: 30px;
        margin-right: 8px;
      }
    </style>
    <div class="links">
      <a href="http://t.me/"><i class="fa fa-telegram"></i></a>
      <a href="http://vk.com/id152687816/"><i class="fa fa-vk"></i></a>
      <a href="http://fb.com/"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <div class="container">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6e22181d1343448eef44a77b7281e04e61ada7a497e784ef29d8c07f3ba35ad0&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
  </div>
</main>
{% endblock %}