{% extends 'carwash/base.html' %}

{% block main %}
<div class="container py-4">
    <h3>Мойка двигателя</h3>
    <p>Вопрос мойки двигателя всегда бурно обсуждался на разных сайтах и форумах. Автовладельцы разделяются во мнениях —
        стоит ли это делать и приносит ли пользу данная процедура. В данной статье постараемся разобраться над данным
        вопросам. Рассмотрим плюсы и минусы мойки двигателя, а также виды мойки и чистки двигателя и моторного отсека.
    </p>
    <p>Как и любой механизм, двигатель нуждается в периодическом уходе. По мнению многих автовладельцев периодическая
        чистка двигателя помогает:</p>
    <p>Своевременно заметить поломки и дефекты</p>
    <p>Улучшается эстетический вид двигателя и моторного отсека</p>
    <p>Легче заметить потеки масла и других жидкостей</p>
    <p>Улучшается теплоотдача двигателя, что в свою очередь не дает перегреваться двигателю</p>
    <p>Это неполный список возможных недостатков грязного двигателя, но в чем едины все автовладельцы, так это в том,
        что мойку двигателя нужно проводить не часто и самое главное на специализированных мойках опытными работниками.
        Если автомобиль, в основном, эксплуатируется только по городу, то процедуру мойки двигателя проводят или перед
        продажей авто, или иногда перед определенными ремонтными работами.</p>
    <p>Виды моек двигателя</p>
    <p>На данный момент основными видами мойки двигателя являются мойка водой и мойка паром. Рассмотрим по отдельности
        данные виды моек.</p>
    <p>Мойка двигателя водой</p>
    <p>При данном виде мойки практически все автосервисы и автомойки заявляют, что в случае, если двигатель не
        заведется, они не несут ответственности. Причиной этому является нередкие случаи некомпетентности мойщиков или
        не знания правильного процесса мойки и замыкания контактов или проводки.</p>
    <p>Если Вы решили помыть двигатель в домашних условиях или на специализированной мойке, Вам будет полезно знать
        простые правила:</p>
    <p>Двигатель нужно мыть при температуре от 20С до 40С водой такой же температуры</p>
    <p>Всю проводку, аккумулятор, воздухозаборник, электрооборудование нужно тщательно изолировать от попадания воды (
        например, полиэтиленом и скотчем)</p>
    <p>Заводские наклейки на двигателе лучше заклеить скотчем, так как они отстанут потом от поверхности</p>
    <p>Использовать нужно специальную авто косметику</p>
    <p>Самое главное после мойки хорошо просушить весь моторный отсек ( после снятия всех защитных пленок, надетых
        заранее) с помощью аппарата с сжатым воздухом или пылесосом, в режиме выдувания, дома.</p>
    <p>После «правильной» мойки и сушки, двигатель заведется без проблем, замыкания проводки не должно быть.</p>
    <p>Чистка двигателя паром</p>
    <p>Хорошей альтернативой мойке двигателя является чистка паром. Во время процедуры чистки вода не используется, что
        в свою очередь исключает риск замыкания проводки и повреждения электрооборудования. Разогретый сухой пар под
        давлением подается через специальную насадку в моторный отсек. Оператор аккуратно очищает все элементы моторного
        отсека и двигатель, при этом все остается сухим. Данный вид мойки двигателя — менее эффективный для очистки
        грязи, но зато можно не переживать за то, что после этого двигатель не заведется.</p>
    <p>Преимущества мойки двигателя паром:</p>
    <p>Экономичность, так как нет затрат на различную химию и воду, а сам процесс чистки проходит быстрее по времени</p>
    <p>Безопасность. Отсутствие воды и пены, которые могут попасть на проводку, затечь в технологические отверстия
        моторного отсека</p>
    <p>Процесс чистки эффективный и быстрый, что будет удобно всем автовладельцам</p>
</div>
{% endblock %}