{% extends 'carwash/base.html' %}
{% load static %}
{% block main %}
<style>
    .hello-msg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 400px) {
        .hello-msg {
            position: static;
            transform: none;
        }

        .hello-msg p,
        .hello-msg h1 {
            color: black;
        }
    }
</style>
<main>
    <section class="hello position-relative ">
        <img src="{% static 'carwash/landing-bg.jpg' %}" width="100%" class="" alt="background"
            style="filter: brightness(0.4)">
        <div class="hello-msg container  d-flex align-items-center flex-column text-light ">
            <h1 class="display-6 mb-4">Чистая машина за 10 минут</h1>
            <div class="d-flex mb-5">
                <p class="m-0 py-1 px-3 mx-1 border rounded">Быстро</p>
                <p class="m-0 py-1 px-3 mx-1 border rounded">Безопасно</p>
                <p class="m-0 py-1 px-3 mx-1 border rounded">Недорого</p>
            </div>
            <a href="{% url 'about' %}" class="btn btn-lg btn-primary">Подробнее</a>
        </div>
    </section>
</main>
{% endblock %}