{% extends 'carwash/base.html' %}

{% block main %}
<div class="container py-4">
    <h3>Нано мойка</h3>
    <p>Благодаря стремительному развитию технологий мойка автомобилей осуществляется практически бесконтактным способом с помощью специального высокопроизводительного оборудования.</p>
    <p>Одним из таких видов очистки транспортного средства от загрязнений является так называемая «наномойка». Сегодня в большинстве автомоек можно увидеть красочную рекламу такой услуги, которая в рекламных целях предоставляется по акционной цене.</p>
    <p>Если вы заинтересовались данным методом очистки кузова авто, то прежде, чем отправляться на ближайшую мойку и выкладывать немалую сумму за нее, вам стоит разобраться во всех нюансах процедуры и понять, стоит ли ее применять к своему транспортному средству. Что такое наномойка? Какие преимущества есть у нового метода и как часто его нужно использовать? В данной статье мы попробуем вместе с вами разобраться в этих вопросах.</p>
    <h3>Особенности осуществления наномойки</h3>
    <p>Нано-мойка представляет собой метод очистки кузова авто от загрязнений с применением специальных моющих средств. Ранее такая химия использовалась для шлифовки автомобилей и придания блеска лаку, однако со временем ей нашли применение в автомойках.</p>
    <p>Специалисты утверждают, что она&nbsp;обеспечивает тщательную очистку поверхности кузова на молекулярном уровне, а также создает невидимый защитный барьер, который препятствует скоплению новых загрязнений.</p>
    <p>Она&nbsp;придает лакокрасочному покрытию блеск и даже маскирует небольшие царапины и потертости, благодаря чему авто выглядит просто роскошно. Сотрудники автомоек, на которых уже используются такие технологии, утверждают, что эффект от наномойки может держаться почти один месяц, что согласитесь, весьма неплохо.</p>
    <p>Чтобы понять, каким образом достигается тщательная очистка кузова авто и его защита от загрязнений, необходимо разобраться в том, как именно осуществляется мойка наношампунем.</p>
{% endblock %}